<ng-template #loading>
    <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
</ng-template>
<div class="container" *ngIf="tasksVm$ | async as tasksVm; else loading">
    <stp-expansion-panel-list  (itemDropped)="moveTask($event)" [contentTemplate]="content"
        [headerTemplate]="header" [items]="tasksVm">
    </stp-expansion-panel-list>
    <button mat-fab color="primary" (click)="createTask()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<ng-template #header let-data="header">
    <div class="header-container">
        <div>
            <mat-chip class="task-type">{{data.type}}</mat-chip>
            <stp-task-metrics [taskInfo]="data"></stp-task-metrics>
        </div>
        <stp-editable-label (editCompleted)="onNameEditCompleted($event)" [placeholder]="'Type name here...'"
            [value]="data.name" [valueObject]="data">
        </stp-editable-label>

        <!-- <stp-task-name [taskInfo]="data"></stp-task-name> -->
        <stp-skills-chips [skills]="data.skills"></stp-skills-chips>
    </div>
</ng-template>

<ng-template #content let-data="content">
    <div class="content-container">
        <stp-multichoice-task-details [data]="data"></stp-multichoice-task-details>
    </div>
</ng-template>