mat-progress-bar{
    margin-top: 5px;
}
.container{
    display: flex;
    flex-direction: column;

    button{
        margin: 5px;
        align-self: flex-end;
    }
}


.content-container {
    margin-top: 20px;
}
