mat-progress-bar{
    margin-top: 5px;
}
.header-container {
    width: 100%;
    margin-right: 24px;
    //flex:1;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // .drag-handle-and-task-type {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: flex-start;
        // }

        // .task-drag-handle {
        //     display: flex;
        //     color: #ccc;
        //     cursor: move;
        //     width: 24px;
        //     height: 24px;
        //     padding-right: 10px;
        // }
        
        .task-type {
            padding: 12px 7px;
            font-size: 12px;
            min-height: 26px;
            border-radius: 0px;
            background-color: #ffffff;
            border-left: 1px solid lightblue;
            border-right: 1px solid lightblue;
            border-bottom: 1px solid lightblue;
        }
       
        // .task-type ~ span {
        //     flex: 1;
        // }
    }

    

    .span {
        padding: 4px;
    }
}

.content-container {
    margin-top: 20px;
}
