<mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" (contextmenu)="onTreeRightClick($event)">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <div (click)="onNodeClick(node)" (contextmenu)="onNodeRightClick($event, node)">
        <button mat-icon-button disabled></button>
        <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
          {{ node.type === 'file' ? 'description' : 'folder' }}
        </mat-icon>
        <span [class.selected]="isNodeSelected(node)">{{node.name}}</span>
      </div>
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding >
      <div (click)="onNodeClick(node)" (contextmenu)="onNodeRightClick($event, node)">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
          {{ node.type ==='file' ? 'description' : 'folder' }}
        </mat-icon>
        <span>{{node.name}}</span>
      </div>
    </mat-tree-node>
  </mat-tree>
  
  <stp-dynamic-menu #dm="dynamic-menu"></stp-dynamic-menu>
  <div style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="dm.menu">
  </div>