:host{
    height: 100%;
    display: flex;
  }
  
  .type-icon {
    color: lightblue;
    margin-right: 5px;
  }
  
  mat-tree {
    cursor: default;
    flex: 1;
  }
  mat-tree-node > div{ 
   
      display: contents;
    
  }
  // button {
  //   color: blue;
  // }
  mat-tree-node:active {
    //background-color: lightblue;
    font-weight: bold;
  }
  
  .selected {
    font-weight: bold;
  }
  