<mat-accordion cdkDropList (cdkDropListDropped)="drop($event)" multi="true">
    <mat-expansion-panel *ngFor="let item of items" cdkDrag>
        <mat-expansion-panel-header [collapsedHeight]="headerHeight" [expandedHeight]="headerHeight">
            <div class="drag-placeholder" [style.min-height]="headerHeight" *cdkDragPlaceholder></div>
            <span class="drag-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </span>
            <ng-content *ngTemplateOutlet="headerTemplate; context: item">
            </ng-content>
        </mat-expansion-panel-header>
        
        <ng-container *ngTemplateOutlet="contentTemplate; context: item">
        </ng-container>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #defulatContent>
    <div>
        NO DATA
    </div>

</ng-template>