// mat-accordion{
//     display: contents;
// }
// :host{
//     height: 100%;
// }
mat-expansion-panel{
    margin: 10px;
}
.drag-placeholder {
    background: white;
    border: dotted 1px lightblue;
    //min-height: 120px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    margin: 10px;
  }

.drag-handle {
    display: flex;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
    padding-right: 10px;
}
