<div class="container">
    <div>
        <mat-chip class="task-type">{{task.type}}</mat-chip>
        <stp-task-metrics [taskInfo]="task"></stp-task-metrics>
    </div>
    <stp-editable-label (editCompleted)="onNameEditCompleted($event)" 
        [placeholder]="'Type name here...'"        
        [state]="nameStateTracker | async">
    </stp-editable-label>

    <stp-skills-chips [skills]="task.skills"
                      [allSkills$]="taskService.allSkills$" 
                      (skillsChange)="onSkillsChange($event)"
                      [state]="skillsStateTracker | async">
    </stp-skills-chips>
</div>