<div class="container">
    <div>
        <mat-chip class="task-type">{{task.type}}</mat-chip>
        <stp-task-metrics [taskInfo]="task"></stp-task-metrics>
    </div>
    <stp-editable-label (editCompleted)="onNameEditCompleted($event)" [placeholder]="'Type name here...'"
        [value]="task.name" [valueObject]="task">
    </stp-editable-label>

    <!-- <stp-task-name [taskInfo]="data"></stp-task-name> -->
    <stp-skills-chips [skills]="task.skills" [allSkills$]="allSkills$" (skillsChange)="onSkillsChange($event)"></stp-skills-chips>
</div>