TESTS:
<br />
<stp-expansion-panel-list (itemDropped)="moveSection($event)" [contentTemplate]="sectionContent"
    [headerTemplate]="sectionHeader" [items]="sectionsVm">
</stp-expansion-panel-list>

<ng-template #sectionHeader let-data="header">

    <div class="section-header-container">
        <stp-editable-label
            (editCompleted)="onSectionNameEditCompleted($event, data)"
            [placeholder]="'Type name here...'"
            [value]="data.name">
        </stp-editable-label>
    </div>

</ng-template>

<ng-template #sectionContent let-data="tasks">
    <div class="section-content-container">
        <stp-expansion-panel-list (itemDropped)="moveTask($event)" [contentTemplate]="taskContent"
            [headerTemplate]="taskHeader" [items]="data">
        </stp-expansion-panel-list>
    </div>
</ng-template>

<ng-template #taskHeader let-data="header">
    <div class="task-header-container">
        <div>
            <mat-chip class="task-type">{{data.type}}</mat-chip>
            <stp-task-metrics [taskInfo]="data"></stp-task-metrics>
        </div>
        <stp-editable-label
            (editCompleted)="onTaskNameEditCompleted($event, data)"
            [placeholder]="'Type name here...'"
            [value]="data.name">
        </stp-editable-label>

        <!-- <stp-task-name [taskInfo]="data"></stp-task-name> -->
        <stp-skills-chips [skills]="data.skills"></stp-skills-chips>
    </div>
</ng-template>

<ng-template #taskContent let-data="content">
    <div class="task-content-container">
        <stp-multichoice-task-details [data]="data"></stp-multichoice-task-details>
    </div>
</ng-template>


<!-- <ng-template #taskHeader let-data="header">
    <div class="task-header-container">
        <div>
            <mat-chip class="task-type">{{data.type}}</mat-chip>
            <div class="task-kpi">
                <div class="points">
                    <mat-icon inline=true>equalizer</mat-icon> <span>{{data.points}} points</span>
                </div>
                <div class="time">
                    <mat-icon inline=true>timer</mat-icon><span>{{data.duration}} minutes</span>
                </div>
                <div class="complexity">
                    <mat-chip>{{data.complexity}}</mat-chip>
                </div>
            </div>
        </div>
        <div class="task-name">{{data.name}}</div>
        <div class="task-skills">
            <mat-chip-list *ngFor="let skill of data.skills">
                <mat-chip>{{skill}}</mat-chip>
            </mat-chip-list>

        </div>
    </div>
</ng-template>

<ng-template #taskContent let-data="content">
    <div class="task-content-container">
        {{data}}
    </div>
</ng-template> -->