mat-dialog-content{
    min-width: 250px;
}
mat-dialog-actions{
    justify-content: flex-end;

    button:first-child {
        margin-right: 10px;
    }

    button{
        text-transform: uppercase;
    }
}