<div class="task-metrics">
    <!-- POINTS -->
    <div class="points-viewer">
        <mat-icon inline=true>equalizer</mat-icon>
        <stp-editable-label #pl (editCompleted)="onPointsEditCompleted($event)" 
            [value]="taskInfo.points"
            [inputType]="'number'"
            [state$]="pointsTracker.asObservable()">
        </stp-editable-label>
        <span [class.hidden]="pl.editMode">points</span>
    </div>

    <!-- DURATION -->
    <div class="points-viewer">
        <mat-icon inline=true>timer</mat-icon>
        <stp-editable-label #dl (editCompleted)="onDurationEditCompleted($event)"
            [value]="taskInfo.duration"
            [inputType]="'number'"
            [state$]="durationTracker.asObservable()">
        </stp-editable-label>
        <span [class.hidden]="dl.editMode">minutes</span>
    </div>

    <!-- COMPLEXITY -->
    <div *ngIf="!complexityEditMode" class="complexity-viewer" (click)="complexityEditMode=true">
        <mat-chip class="{{getComplexityName(taskInfo.complexity).toLocaleLowerCase()}}">{{getComplexityName(taskInfo.complexity)}}</mat-chip>
        <mat-icon class="edit-icon">edit</mat-icon>
    </div>
    <div *ngIf="complexityEditMode" class="complexity-editor">
        <mat-form-field>
            <!-- <mat-select [formControl]="complexityCtrl" (selectionChange)="onComplexityChanged($event)" required>
                <mat-option *ngFor="let complexity of complexityValues" [value]="complexity">
                    {{complexity}}
                </mat-option>
            </mat-select> -->
            <mat-select [formControl]="complexityCtrl" required>
                <mat-option *ngFor="let complexity of complexityValues" [value]="complexity">
                    {{getComplexityName(complexity)}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="complexityCtrl.hasError('required')">Please choose complexity</mat-error>
            <mat-error *ngIf="complexityError">{{complexityError}}</mat-error>
        </mat-form-field>
    </div>
</div>