<div class="container">
    <div *ngIf="!editMode" class="viewer" (click)="editMode = true">        
        <mat-chip class="disabled-content" *ngIf="!visibleSkills || visibleSkills.length === 0">No skills</mat-chip>
        <mat-chip-list *ngFor="let skill of visibleSkills">
            <mat-chip>{{skill.name}}</mat-chip>
        </mat-chip-list>
        <mat-icon class="edit-icon">edit</mat-icon>
    </div>
    <div *ngIf="editMode" class="editor" [class.disabled-content]="processing">
        <div class="editor-content">
            <mat-form-field floatLabel="never">
                <mat-chip-list #chipList aria-label="Skill selection">
                    <mat-chip *ngFor="let skill of visibleSkills" [selectable]="true" [removable]="true"
                        (removed)="remove(skill)">
                        {{skill.name}}
                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                    </mat-chip> 

                    <input placeholder="Type skills..." #skillInput [formControl]="skillCtrl" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)" (keydown.escape)="undo($event)"
                        (keydown.control.enter)="onEnter($event)" autofocus>
                </mat-chip-list>

                <!-- TODO: Improve UX -->
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
                    <mat-option *ngFor="let skill of filteredSkills$ | async" [value]="skill">
                        {{skill.name}}
                    </mat-option>
                </mat-autocomplete>
                <!-- Add check icon -->
                <!-- <mat-icon (click)="applySkillsEdit($event)">done</mat-icon> -->
            </mat-form-field>
            <mat-icon *ngIf="!viewModeOff && !processing" (click)="apply()">done</mat-icon>
            <mat-icon *ngIf="!viewModeOff && !processing" (click)="undo($event)">clear</mat-icon>
            <mat-spinner *ngIf="processing" [diameter]="16"></mat-spinner>
        </div>
        <mat-error>{{error}}</mat-error>
    </div>
</div>